LojaDesafio/LojaDesafio.Business/bin/
LojaDesafio/LojaDesafio.Web.WCF/obj/
LojaDesafio/LojaDesafio.Business/obj/
LojaDesafio/LojaDesafio.Model/bin/
LojaDesafio/LojaDesafio.Model/obj/
LojaDesafio/LojaDesafio.Web.WCF/bin/
*.suo
